 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi I'm Mauricio! This is just a place for me to be creative and share some links/projects that I've worked on.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am always someone who is looking to continue learning and experiment with new tech, languages, travel and getting to know new places/peopel.</p>
                </div>
            </div>
        </div>
    </section>
